{% load bootstrap3 static %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
<link href="{% static 'css/blog.css' %}" rel="stylesheet">
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% include 'musthead.html' %}

<div class="container">
    {% include 'header.html' %}
    <div class="row">

        <div class="col-sm-8 blog-main">
            {% block content %}
            {% endblock content %}
        </div>
        {% include 'sidebar.html' %}

    </div>
</div>
{% include 'footer.html' %}