<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Примечание</h4>
    <p>Можно <em>заметить</em>, что этот блог по внешнему виду смахивает на Bootstrap.
      Но это не копипаста, честно.</p>
  </div>
  <div class="sidebar-module">
    <h4>Архив</h4>
    <ol class="list-unstyled">
      {% for record in monthes_list %}
        <li><a href="{% url 'month_view' record.month record.year %}">{{ record.month }} {{ record.year }}
          ({{ record.count }})</a></li>
      {% endfor %}
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled">
      <li><a href="https://github.com/owlet1997/blog">GitHub</a></li>
    </ol>
  </div>
</div>